@use '/src/assets/css/helpers' as *;

.experience {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  @include element(left) {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-align: left;
  }

  @include element(right) {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 75%;
  }
}
