@use '/src/assets/css/helpers' as *;

.header {
  position: relative;
  .yellow-ball {
    background-color: getColor('yellow.primary');
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }

  .name {
    bottom: 0;
    font-size: 3rem;
    font-weight: 600;
    left: 50px;
    position: absolute;
    top: 50px;
  }

  .title {
    font-size: 2rem;
    left: 50px;
    position: absolute;
    top: 100px;
    width: fit-content;
  }

  .contact-container {
    align-items: baseline;
    border-top: 1px solid black;
    bottom: 0;
    display: flex;
    gap: 1rem;
    padding-top: 0.5rem;
    position: absolute;
    right: 0;
    width: fit-content;

    .contact {
      display: flex;
      gap: 0.25rem;
    }
  }
}
