@use '/src/assets/css/helpers' as *;

.profile {
  @include element(content) {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
  }

  @include element(photo) {
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }

  @include element(summary) {
    text-align: justify;
    width: 90%;
  }
}
