@use '/src/assets/css/helpers' as *;

.section {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include element(title) {
    width: 20%;
  }

  @include element(content) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
    width: 80%;
  }

  @include element(left) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15%;
  }

  @include element(line) {
    background-color: getColor('black.primary');
    height: 3px;
    width: 40%;
  }
}
