@use '/src/assets/css/helpers' as *;

.skills-wrapper {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  @include element(skill) {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .slider {
      width: 50%;
    }
  }
}
