@use '/src/assets/css/helpers' as *;

.slider {
  background-color: getColor('yellow.primary');
  height: 3px;
  width: 100%;

  @include element(value) {
    background-color: getColor('black.primary');
    height: 3px;

    @include modifier(reverse) {
      background-color: getColor('yellow.primary');
    }
  }

  @include modifier(reverse) {
    background-color: getColor('black.primary');
  }
}
