@use '/src/assets/css/helpers' as *;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
  // background-color: #242424;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

h1 {
  font-size: 3rem;
  font-weight: getFontWeight('bold');
}

h2 {
  font-size: 2rem;
  font-weight: getFontWeight('semi-bold');
}

h3 {
  font-size: 1.5rem;
  font-weight: getFontWeight('semi-bold');
}

h4 {
  font-weight: getFontWeight('semi-bold');
}
