@use 'sass:map';
@use 'sass:string';

$colormap: (
  'black': (
    'primary': #000,
  ),
  'gray': (
    'primary': #444,
  ),
  'white': (
    'primary': #fff,
  ),
  'yellow': (
    'primary': #ffff00,
  ),
);

@function getColor($path) {
  $keys: string.split($path, '.');
  $map: $colormap;

  @each $key in $keys {
    @if not map.has-key($map, $key) {
      @warn "Key `#{$key}` not found in the color map for path `#{$path}`.";

      @return null;
    }
    $map: map.get($map, $key);
  }

  @return $map;
}
