@use 'sass:map';
@use 'sass:string';

$font-weight-map: (
  'bold': 600,
  'semi-bold': 500,
);

@function getFontWeight($path) {
  $keys: string.split($path, '.');
  $map: $font-weight-map;

  @each $key in $keys {
    @if not map.has-key($map, $key) {
      @warn "Key `#{$key}` not found in the font weight map for path `#{$path}`.";

      @return null;
    }
    $map: map.get($map, $key);
  }

  @return $map;
}
